body {
    font-family: Segoe UI, -apple-system, Roboto, Ubuntu;
}
.form {
    padding: 0.2rem;
    text-align: center;
}
.form input {
    margin: 0.5rem;
}

#container {
    display: flex;
    justify-content: center;
}
#weather {
    width: 20rem;
    height: auto;
    text-align: center;
}
.directions {
    text-align: center;
    display: none;
}
